{% extends "Layout" %}

{% block content %}
    <div class = class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="Password" aria-selected="true">Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="username-tab" data-toggle="tab" href="#username" role="tab" aria-controls="Username" aria-selected="false">Username</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="Email" aria-selected="false">Email</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="password" role="tabpanel" aria-labelledby="password-tab">
                Password change
                <div class="col-md-8 container">
                    <div class="content-section">
                        <form method="POST" action="">
                            <fieldset classs="form-group">
                                <legend class="border-bottom mb-4">Join Today</legend>
                                
                                <dir class="form-group">
                                    <label class="form-control-label" for="text">Username: </label>
                                    {% if error_username %}
                                        <input type="text" class="form-control form-control-lg is-invalid" id="text" name="username" placeholder="Username">
                                        <div class="invalid-feedback">
                                            <span>Wrong username</span>
                                        </div>
                                    {% else %}
                                        <input type="text" class="form-control form-control-lg" id="text" name="username" placeholder="Username">
                                    {% endif %}
                                </dir>
                
                                <dir class="form-group">
                                    <label class="form-control-label" for="text">Email: </label>
                                    {% if error_email %}
                                        <input type="email" class="form-control form-control-lg is-invalid" id="text" name="email" placeholder="Email">
                                        <div class="invalid-feedback">
                                            <span>Wrong email</span>
                                        </div>
                                    {% else %}
                                        <input type="email" class="form-control form-control-lg" id="text" name="email" placeholder="Email">
                                    {% endif %}
                                </dir>
                
                                <dir class="form-group">
                                    <label class="form-control-label" for="pwd">Password:</label>
                                    {% if error_password %}
                                        <input type="password" class="form-control form-control-lg is-invalid" id="pwd" name="password" placeholder="Password">
                                        <div class="invalid-feedback">
                                            <span>Wrong password</span>
                                        </div>
                                    {% else %}
                                        <input type="password" class="form-control form-control-lg" id="pwd" name="password" placeholder="Password">
                                    {% endif %}
                                </dir>
                
                                <dir class="form-group">
                                    <label class="form-control-label" for="pwd">Confirm password:</label>
                                    {% if error_confirm_password %}
                                        <input type="password" class="form-control form-control-lg is-invalid" id="pwd" name="confirm_password" placeholder="Confirm password">
                                        <div class="invalid-feedback">
                                            <span>Wrong password</span>
                                        </div>
                                    {% else %}
                                        <input type="password" class="form-control form-control-lg" id="pwd" name="confirm_password" placeholder="Confirm password">
                                    {% endif %}
                                </dir>
                
                            </fieldset>
                
                            <dir class="form-group">
                                <button class="btn btn-outline-dark" type="submit"> Register </button>
                            </dir>
                        </form>
                    </div>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="username" role="tabpanel" aria-labelledby="username-tab">
                Username change 
            </div>

            <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                Email change
            </div>
        </div>
    </div>
{% endblock content %}


